.container {
    display: flex;
    flex-direction: column;
    .title {
        font-size: 32px;
    }
    .duration{
        display: flex;
        .monthduration{
            width: 30%;
        }
        .hourduration{
            width: 70%;
        }
    }
    .modules{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

